.news-grid__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

@media screen and (max-width: 375px) {
    .news-grid__header {
        flex-direction: column;

    }
}