.glide__slide-name {
    margin: 0;
    width: 100%;
    font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    color: #1A1B22;
}

@media screen and (max-width: 768px) {
    .glide__slide-name {
        font-size: 20px;

    }
}