.glide__arrow {
  position: absolute;
  display: block;
  margin: 0;
  padding: 0;
  width: 88px;
  height: 100%;
  top: 50%;
  z-index: 2;
  background: linear-gradient(180deg, rgba(245, 246, 247, 0) 0%, #F5F6F7 100%);
  transform: matrix(0, -1, -1, 0, 0, 0);
  border: none;
  opacity: 1;
  cursor: pointer;
  transition: opacity 150ms ease, border 300ms ease-in-out;
  transform: translateY(-50%);
  line-height: 1;
}

.glide__arrow.glide__arrow--left {
  left: 0;
}

.glide__arrow.glide__arrow--right {
  right: 0;
}

.glide__arrow:focus {
  outline: none;
}

.glide__arrow:hover {
  border-color: white;
}

.glide__arrow--left {
  left: 2em;
}

.glide__arrow--right {
  right: 2em;
}

.glide__arrow--disabled {
  opacity: 0.33;
}

@media screen and (max-width: 375px) {
  .glide__arrow {
    display: none;
  }
}


.glide__bullets {
  width: 40px;
  height: 8px;
  position: absolute;
  z-index: 3;
  bottom: -3em;
  left: 50%;
  display: inline-flex;
  list-style: none;
  transform: translateX(-50%);
}


.glide__bullet {
  background-color: #D1D2D6;
  ;
  width: 8px;
  height: 8px;
  padding: 0 4px;
  border-radius: 50%;
  border: none;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  line-height: 0;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  margin: 0 0.25em;
}

.glide__bullet:focus {
  background-color: #1A1B22;
}

.glide__bullet:hover,
.glide__bullet:focus {
  background-color: #1A1B22;
}

.glide__bullet--active {
  background-color: #1A1B22;
}

.glide--swipeable {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.glide--dragging {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}