.header__title.title {
    display: flex;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    margin: 30px auto 26px 0;
    color: #1A1B22;
}

.header__title.header__title_index {
    color: #FFFFFF;
}

@media screen and (max-width: 768px) {
    .header__title.title {
        margin: 22px auto 18px 0;
    }

}

@media screen and (max-width: 375px) {
    .header__title.title {
        margin: 16px auto 16px 0;
        font-size: 16px;
    }
}