.header__title {
    width: 200px;
    height: 24px;
    display: flex;
    font-family: 'Roboto Slab';
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 24px;
margin: 30px auto 26px 0;
}