.header__link {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #B6BCBF; 
    text-decoration: none;
}

.header__link.header__link_index {
    color: white;
}

.header__link.header__link_focused {
    color: #1A1B22;
}