.chart__dates {
    width: 104px;
    margin: 0;
    padding: 0;
    display: flex; 
    flex-direction: column;
    justify-items: flex-start; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    /* or 444% */
    color: #1A1B22;
}

