.section {
    max-width: 100%;
    position: relative;
    padding: 80px 104px;
    /* display: flex; */
    z-index: 2;
}

@media screen and (max-width: 1024px) {
    .section {
        padding: 60px;
    }
}


@media screen and (max-width: 768px) {
    .section {
        padding: 40px;
        font-size: 16px;
        line-height: 22px;
    }
}

@media screen and (max-width: 375px) {
    .section {
        padding: 16px;
    }
}