.footer__nav-link {
    display: flex;
    padding: 0 24px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    /* or 133% */

    text-align: center;
    color: #1A1B22;

    text-decoration: none;
    
}

.footer__nav-link:hover {
    color: #B6BCBF;
    cursor: pointer;
}

