.footer__nav-link {
    display: flex;
    padding: 0 24px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    /* or 133% */

    text-align: center;
    color: #1A1B22;

    text-decoration: none;
    cursor: pointer;

}

.footer__nav-link:hover {
    color: #B6BCBF;
    cursor: pointer;
}

@media screen and (max-width: 375px) {
    .footer__nav-link {
        display: block;
        font-size: 18px;
        padding: 0 0 30px 0;
        align-self: flex-start;
        text-align: start;
    }
}