.chart__mentions-number {
    height: 24px;
    background: #2F71E5;
    padding-left: 6px;
    /* top: calc(50% - 24px/2); */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    /* or 133% */

    display: flex;
    justify-content: flex-start;
    align-items: center;

    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #FFFFFF;
}

/* Временное решение, пока нет JS */
.chart__mentions-number_monday {
    width: 15%;
}

.chart__mentions-number_tuesday {
    width: 18%;
}

.chart__mentions-number_wednesday {
    width: 11%;
}

.chart__mentions-number_thursday {
    width: 39%;
}

.chart__mentions-number_friday {
    width: 45%;
}

.chart__mentions-number_saturday {
    width: 73%;
}

.chart__mentions-number_sunday {
    width: 34%;
}