.tech__title {
    color: #1A1B22;
    margin: 0 12% auto 0;
}

@media screen and (max-width: 768px) {
    .tech__title {
        margin: 0;
    }
}

@media screen and (max-width: 375px) {
    .tech__title {
        margin: 32px 16px 40px;
    }
}