.tech__title {
    color: #1A1B22;
    margin-right: auto;
    width: 30%;
}

@media screen and (max-width: 1200px) {
    .tech__title {
        margin-bottom: 40px;
        margin-top: 0;
        width: 100%;
    }
}

@media screen and (max-width: 375px) {
    .tech__title {
        margin: 32px 0 0;
    }
}