.footer__contacts {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
}

@media screen and (max-width: 375px) {
    .footer__contacts {
        order: 2;
        right: 16px;
        padding: 0 0 40px auto;
    }
}