.footer__contacts {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
}

@media screen and (max-width: 620px) {
    .footer__contacts {
        order: 2;
        margin: 0 0 0 auto;
    }
}