.tech__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
    justify-content: start;
}

@media screen and (max-width: 1024px) {
    .tech__container {
        margin-top: 40px;
        grid-gap: 20px;
    }
}

@media screen and (max-width: 620px) {
    .tech__container {
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        margin-bottom: 40px;
    }
}