.glide__slide-date {
    width: 192px;
    height: 22px;
    margin: 0;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */

    color: #B6BCBF;
}