.chart__mentions-bar {
    display: flex;
    justify-items: center;
    align-items: center;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    height: 80px;
}

.chart__mentions-bar:first-of-type,
.chart__mentions-bar:last-of-type {
    height: 52px;
    line-height: 80px;
}

.chart__mentions-bar:first-of-type {
    align-items: flex-start;
}

.chart__mentions-bar:last-of-type {
    align-items: flex-end;
}