.news-grid__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
    color: #1A1B22;
    background-color: #F5F6F7;
    border: none;
}