@import url('./_about/header__link-underliner_about.css');

.header__link-underliner {
    margin-top: 20px;
    height: 3px;
    background-color: #FFFFFF;
}

@media screen and (max-width: 768px) {
    .header__link-underliner {
        margin-top: 15px;
    }

}

@media screen and (max-width: 375px) {
    .header__link-underliner {
        margin-top: 13px;
    }
}