.news-grid__button {
    background: #FFFFFF;
    border-radius: 80px;
    border: none;
    width: 288px;
    height: 64px;
    margin: 0 auto;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;

    display: flex;
    text-align: center;
    justify-content: center;

    color: #1A1B22;
}

.news-grid__button:hover {
    opacity: 0.9;
    cursor: pointer;
}