@import url('./__title/header__title.css');
@import url('./__nav/header__nav.css');
@import url('./__link/header__link.css');
@import url('./__nav-item/header__nav-item.css');
@import url('./__link-underliner/header__link-underliner.css');
@import url('./_about/header_about.css');



.header.section {
    height: 80px;
    display: flex;
    justify-content: space-between;
    background: rgba(196, 196, 196, 0.01);
    box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
    color: #FFFFFF;
    z-index: 3;
    padding-top: 0;
    padding-bottom: 0;
}


@media screen and (max-width: 768px) {
    .header.section {
        height: 64px;
        font-size: 20px;
        line-height: 24px;
    }
}

@media screen and (max-width: 375px) {
    .header.section {
        height: 56px;
        font-size: 16px;
        line-height: 24px;
    }
}