.content {
    width: 100vw;
    max-width: 100%;
    box-sizing: border-box;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
}