@import url(./__header/commits__container.css);
@import url(./__link/commits__link.css);
@import url(./__title/commits__title.css);
@import url(./__slider/commits__slider.css);


.commits.section {
    display: flex;
    flex-direction: column;
    background: #F5F6F7;;
    padding: 72px 0 80px;
}