@import url('./__container/noresults__container.css');
@import url('./__image/noresults__noresults__image.css');
@import url('./__title/noresults__title.css');
@import url('./__text/noresults__text.css');

.noresults {
	display: flex;
	flex-direction: column;
	background: #F5F6F7;
	
}

.noresults.noresults_hidden {
	display: none;
}